.evolutions-container{
    width: 100vw;
    height: 80vh;
    overflow: auto;
    text-align: center;
  }
  
  .evolution-card{
      margin-right: 10%;
      margin-left: 20%;
      margin-top: 3%;
      width:60vw;
      height: 50%;
      border: 5px solid #222224;
      border-top-color: rgb(238, 21, 21);
      border-bottom-color: #cdc9c9;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
      transition: 0.3s;
  }
  
  .evo-grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu menu menu menu menu menu'
      'main main main main main main';
    margin: 0;
    padding-left: 0;
  }

  @media (min-width: 700px){
    .evo-grid-container {
      display: grid;
      grid-template-areas:
        'header header header header header header'
        'menu main main main main main';
      margin: 0;
      padding-left: 0;
    }
}

  .name {
    grid-area: header;
    text-align: center;
    font-family: pokemon;
    background-color: #b3b3b3;
    margin: 0;
    padding: 0;
    border: 0;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .name-title-card-evo{
    font-size: x-large;
  }

  .icon-button{
    border-color: rgb(238, 21, 21);
    border-bottom-color: rgb(238, 21, 21);
    border-radius: 0;
    margin-top: 1vh;
    font-family: pokemon;
    font-size: large;
  }

  .sprite {
    grid-area: menu;
    text-align: center; 
    width:fit-content;
    float:left;
    margin-left: auto;
    margin-right: auto;
  }


  @media (min-width: 700px){
    .sprite {
      padding: 1%;
      grid-area: menu;
      text-align: left; 
      width:fit-content;
      float:left;
    }
}
  
.card-sprite-evo{
  height: 30vh;
  width: 25vw;
  object-fit:contain;
}

@media (min-width: 700px){
  .card-sprite-evo{
    padding-top: 2vh;
    padding-bottom: 1vh;
    height: 30vh;
    width: 15vw;
    object-fit:contain;
    padding-left: 2vw;
  }
}
  

  .info {
    width:auto;
    grid-area: main;
    text-align: center;
    float: center;
    font-family: pokemon;
    padding-bottom: 3vw;
  }

  @media (min-width: 700px){
    .info {
      width:auto;
      grid-area: main;
      text-align: center;
      float: center;
      font-family: pokemon;
      position: relative;
      top: 37%;
    }
}


  .info p{
    font-size: 3vw;
  }

  .info .type-wrapper{
    padding-top: 2vw;
  }
