@import url('./home.css');
@import url('./evolutions.css');
@import url('./editar.css');

html,

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.359);
  background-image: url(../../assets/images/bg2.jpg);
  background-blend-mode:hue;
}

@font-face {
  font-family: pokemon;
  src: url(../../assets/fonts/Pokemon_Classic.ttf);
}

h1{
  text-align: center;
  font-family: pokemon;
}

h2{
  text-align: center;
  font-family: pokemon;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span{
  width: fit-content;
}

button:hover{
  cursor: pointer;
}

a:hover{
  cursor: pointer;
}

p{
  display: inline;
  font-family: pokemon;
  font-size: medium;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]:hover{
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: rgb(238, 21, 21);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


.top-bar{
  width: 99.3vw;
  background-color:#b3b3b3;
  display: inline-block;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border: 5px solid black
}

.top-bar-title{
  display: inline; 
  padding-right: 3%;  
}

.back-button{
  font-family: pokemon;
  float: left;
  color: #fff;
  position: inherit;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}

.type-wrapper{
  text-align: center;
  background-color: #f2f2f2a1;
  padding-top: 0%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  border: 3px solid;
  margin-right: 1.5%;
  border-color: #A8A77A;
}

